/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Corn Silk #FFF5E0 rgb(255, 245, 224)
Bittersweet #FF6969 rgb(255, 105, 105)
Venetian Red #C70039 rgb(199, 0, 57)
Regal Blue #141E46 rgb(20, 30, 70) */
